body {
  font-family: Helvetica, sans-serif; 
}

nav {
  display: block;
  border: 1px solid #949599;
  height: 50px;
  margin: 20px;
  padding: 20px;
  position: relative;
}
 nav a {
  float: right;
 }
div {
  border: 1px solid #949599;
  margin: 20px;
  padding: 20px;
  width: 75%;
  margin: auto;
  text-align: center
}
